.toc-editor-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toc-editor-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.toc-editor-center {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
}

.toc-editor-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
}

.toc-editor-content .tiptap.ProseMirror.toc-editor {
  padding: 3rem 3rem 30vh;
}

@media screen and (max-width: 480px) {
  .toc-editor-content .tiptap.ProseMirror.toc-editor {
    padding: 1rem 1.5rem 30vh;
  }
}
